html {  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  transition: ease-out 0.5s;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(233, 233, 233);
  width: 100vw;
  min-height: 100vh;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  transition: ease-out 0.5s;
}

.bg.test{
  background-image: url(assets/ciphercollector.png);
  border-radius: 100vh;
  width: 100vw;
  height: 100vh;
}


.projectcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8vh;
}

.project {
  transform: skew(-20deg);
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 40vh;
  height: 10vh;
  color: white;
  text-wrap: wrap;
  overflow: hidden;
  border-radius: 8px;
  transition: ease-in-out 0.1s;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: x-large;
}

@media (max-width: 768px){
  .js-only{
    display: none;
  }
}

@media (min-width:1440px) {
  .projectcontainer .project:nth-child(2) {
    align-self: flex-end;
    margin-right: -500px;
  }

}

.projectimg {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60%;
  padding-right: 75%;
  opacity: 50%;
  width: 80%;
  height: 80%;
}

.projecttxt{
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  gap: 5%;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}
a:link {
  color: inherit;
  text-decoration: none;
}

.project>* {
  transform: skew(20deg);
  position: absolute;

}

.project:hover {
  background-color:slategray;
}